// Base Colors used in the in the project

$black: black;
$white: #ffffff;
$menu-grey: #666666;

$sidenav-bg: #252525;
$menu-bg-overlay: rgba(0, 0, 0, 0.4);
$text-shadow:  rgba(0, 0, 0, 0.5);

$border-bottom: #b6b6b6;
$footer-grey: #aaa;

$time-text: #757575;

// colors
$dark-blue: #022E49;
$yellow: #F3B100;
$light-blue: #0063A0;
$grey: '#b1b1b1';
$lightGrey: '#eaeaea';
$darkGrey: '#808080';
$blue: '#4f8efc';
$green: '#35982e';
$lightGreen: '#5BC431';
$lightRed: '#C33C31';
$lightYellow: '#F49E3F';
$orange: '#f08614';
$purple: '#7a52c1';
$yellow: '#aaaf0e';
$pink: '#c15274';
$sea: '#45acb0';

//text
$red: #BD362E;
$purple: #816AA5;
$green: #3C9841;
$primary: '#1a1a1a';
$secondary: '#ffffff';
$grey: '#757575';
$blue: '#4F8EFC';
$green: '#50C9CE';
$orange: '#FF7A34';
$darkblue: '#3B5998';
$purple: '#7B73DB';

// Brand Guidelines
$primary-color: $dark-blue;
$secondary-color: $yellow;
$third-color: $light-blue;
$hover-light: #f4fbf9;
$main: '#1976d2';
$accent: 'rgb(0,140,255)';

// Articles
$description-text: #313131;
$article-author: #444444;
$article-border-b: #cccccc;
$img-caption: #666;
$main: '#112039';
$light: '#fafafa';