@import "../../base/_colors";

.home__container {
  display: grid;
  margin: 0px auto;
  grid-template-areas: "nav nav nav"
                         "content content content"
                         "footer footer footer";
  grid-template-rows: 1fr
                      4fr
                      1fr;
}

.home__header {
  grid-area: nav;
  background-image: url("/home-bg.png");

}

.home__content {
  grid-area: content;
  display: grid;
  grid-template-areas:  "boby_header_lg boby_header_sm"
                        "boby_content_lg body_content_sm"
                        "body_footer_lg body_footer_sm";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  column-gap: 25px;
  row-gap: 25px;
  background: $secondary;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 140px 60px;
}

.body_header__lg {
  grid-area: boby_header_lg;
  background: #F7F7F7;
}

.body_header__sm {
  grid-area: boby_header_sm;
  background: gray;

  h5 {
    color: #FFFF;
  }
}

.body_content__lg {
  grid-area: boby_content_lg;
  background: #F7F7F7;
}

.text_body__header {
  padding: 40px;
}

.body_content__sm {
  grid-area: body_content_sm;
  background: #F7F7F7;
}

.concat-box {
  background: #F7F7F7;
}

.body_footer__lg {
  grid-area: body_footer_lg;
  background: #F7F7F7;
}

.body_footer__sm {
  grid-area: body_footer_sm;
  background: #F7F7F7;

  h5 {
    color: #FFFF;
  }
}

.home__footer {
  grid-area: footer;
  display: grid;
  grid-template-areas:  "footer_top"
                        "footer_bottom";
  grid-template-rows: 1fr
                      1fr;
}
.footer__top {
  grid-area: footer_top;
  background-image: url("/stay-bg.png");

  h2 {
    font-size: 48px;
    color: #03133a;
  }
  p {

    font-size: 15px;
    color: #131313;
  }

  button {
    width: 139px;
    font-size: 16px;
    padding: 5px 0;
    margin-top: 27px;;
    border-radius: 0;
    color: #ffffff;
    background: #03133a;
    border-color: #03133a;
    &:hover {
      background: lighten(#03133a, 10);
      border-color: lighten(#03133a, 10);
    }
  }
}
.social-footer{
  width: 600px !important;
}

.footer__bottom {
  grid-area: footer_bottom;

  background-image: url("/home-bg.png");
  h2.logo {
    font-size: 75px;
    font-family: $Angeline_Vintage;
    color: #ffffff;
  }
  .nav-fill {

    a {
      color: #ffffff;
    }
    li:hover {
      a {
        color: #03133a;
      }
    }
  }
  .copyright {
    padding: 34px 0;
    background-color: rgba(0, 0, 0, 0.451);

    p {
      color: #999999;
    }
  }
}
