@import "../../base/_colors";

.home__container{
    height: 100%;
    display: grid;
    grid-template-areas: "nav nav nav"
                         "content content content"
                         "menu footer footer";
    grid-template-rows: 1fr 2fr 1fr;
}

.home__header{
    grid-area: nav;
    background-image:
      url("/home-bg.png");

}

.home__content{
    grid-area: content;
    background: gray;
}

.home__footer{
    grid-area: footer;
    background: red;
}
