@import "./../../base/_fonts";

.nav-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    a{
        padding: 15px;
        display: inline-block;
    }

}
.bg-cover{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.text-header{
    color: white;
    font-size: 2.125rem;
    font-family: $Angeline_Vintage;
}
